.DS_Store
.vscode
/quixo/policies
policy_first
quixo/policy_first_50k_decreasing_exp_rate
quixo/policy_first_200k_player1_decreasing_from_05_to_01
quixo/policy_first_200k_player1_decreasing_from_05_to_01.txt
quixo/__pycache__/main.cpython-310.pyc
quixo/__pycache__/main.cpython-310.pyc
/quixo/plots
/new_quixo/other_commits
/new_quixo/policies
log.docx
log.txt